/* documento css */
*{
    background-color: bisque;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

/* tipografia */
@font-face {
    font-family: 'montextralight_demo';
    src: url('/fonts/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('/fonts/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    padding: 90px;
    font-family: 'montextralight_demo';
}
hr{
    padding: 20px;
}

p{
    padding-right: 350px;
}

nav{
    text-align: center;
}

h1{
    font-size: 60px;
    text-align: center;
    padding-bottom: 15px;
}

h2{
    text-align: center;
    font-size: 40px;
    width: 250px;
    margin: 15px auto 20px auto;
    padding: 15px;
    border: 4px double black;
    border-radius: 100px;
    text-transform: uppercase;
}

.multimedia{
    float: right;
}

.cabecera{
    width: 100%;
    padding: 20px 0px;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
    box-sizing: border-box;
}

.item{
    width: 100%;
    
}
.pie{

}

/* emdia queries codigos para pantallas de 600px en adelante movile first */
@media only screen and (min-width:600px){

    h1{
        font-size: 4.3em;
    }
    .item p{
        font-size: 2em;
        margin-bottom: 25px;
    }
}

/* pantallas mayores a  992 */
@media only screen and (min-width:992px){

    h1{
        font-size: 2.5em;
    }
    .item p{
        font-size: 1.8em;
    }
    body{
        background-color: aqua;
    }
    .formulario{
        width: 50%;
        margin: auto;
    }

}
/* pantallas mayores a  992 */
@media only screen and (min-width:992px){

    h1{
        font-size: 2.5em;
    }
    .item p{
        font-size: 1.8em;
    }
    body{
        background-color: aqua;
    }
    .formulario{
        width: 50%;
        margin: auto;
    }

}


/* pantallas mayores a  1280 */
@media only screen and (min-width:1280px){

    h1{
        font-size: 2.5em;
    }
    .item p{
        font-size: 1.8em;
    }
    body{
        background-color: aqua;
    }
    .formulario{
        width: 50%;
        margin: auto;
    }

}

